
.vs/desktop.ini
.vs/ProjectSettings.json
.vs/SecurityPackage/desktop.ini
.vs/SecurityPackage/FileContentIndex/e8e1ec2e-c79e-47b4-869b-28bea7d80aad.vsidx
.vs/SecurityPackage/v15/.suo
.vs/SecurityPackage/v15/desktop.ini
.vs/SecurityPackage/v15/Server/desktop.ini
.vs/SecurityPackage/v15/Server/sqlite3/db.lock
.vs/SecurityPackage/v15/Server/sqlite3/desktop.ini
.vs/SecurityPackage/v15/Server/sqlite3/storage.ide
.vs/SecurityPackage/v15/Server/sqlite3/storage.ide-shm
.vs/SecurityPackage/v15/Server/sqlite3/storage.ide-wal
.vs/SecurityPackage/v17/.suo
.vs/SecurityPackage/v17/.wsuo
.vs/SecurityPackage/v17/DocumentLayout.backup.json
.vs/SecurityPackage/v17/DocumentLayout.json
.vs/slnx.sqlite
.vsconfig
.vs/SecurityPackage/v17/TestStore/0/testlog.manifest
.vs/SecurityPackage/v17/TestStore/0/010.testlog
.vs/SecurityPackage/FileContentIndex/fc74ecc0-d3cd-4b22-abbe-468e3081eb2a.vsidx
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/SemanticSymbols.db-wal
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/SemanticSymbols.db-shm
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/SemanticSymbols.db
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/CodeChunks.db-wal
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/CodeChunks.db-shm
.vs/SecurityPackage/CopilotIndices/17.12.53.23981/CodeChunks.db
.vs/SecurityPackage/copilot-chat/ce018460/sessions/5bc11988-923b-44be-9541-c492a11f5a35
*.vsidx
*.testlog
/.vs
securitypackagetest/bin/Debug/SecurityPackageTest.dll
securitypackagetest/bin/Debug/SecurityPackageTest.pdb
securitypackagetest/obj/Debug/SecurityPackageTest.csproj.AssemblyReference.cache
securitypackagetest/obj/Debug/SecurityPackageTest.csproj.CoreCompileInputs.cache
securitypackagetest/obj/Debug/SecurityPackageTest.dll
securitypackagetest/obj/Debug/SecurityPackageTest.pdb
*.dll
*.cache
/securitypackagetest/obj
